.footer {
    background-color: #aeaeae;

}

.footer__top-inner {
    display: flex;
    justify-content: center;
    /*height for bottom line. stop jamping!*/
    height:300px;

}

.copyright {
    text-align: center;
    padding-top: 115px;
    padding-bottom: 70px;
}

.footer__top {
    padding-top: 170px;
}
