@media screen and (min-width: 831px) and (max-width: 950px) {
       
    .header__top{
        width:750px;
        margin:0 auto;
    }  
    
    .header__nav-inner {
        flex-wrap: wrap;
        flex-basis: 100%;
    }

    .header__nav{
        margin: 0 auto;
    }
 
    .menu {
        order: 1;
    }
    .menu2 {
        order: 2;
    }
    .logo {
        order: 3;
    }
  
    .menu li {
        padding: 40px 25px;
    }
    .menu__list {
        padding-left: 0;
        padding-right: 0;
    }

    .logo__img {
        width: 300px;
    }

    .logo {
        padding: 0;
        margin: 0 auto;
    }
    .slider__item {
        height: 100vh;
        width: 950px;
    } 

    
    /*section2*/
    .about__inner {
        flex-wrap: wrap;
    }
    .room {
        width: 100%;
    }

    .about__text {
        width: 100%;
    }
    .about__text-all{
        padding: 10px 60px 60px ;
    }
    /*section3*/
    .row1 {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
       
    }
   
    .row2 {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    /*close gape with images*/
    .itm1,
    .itm2,
    .itm3,
    .itm4,
    .itm5,
    .itm6 {
        margin: 0 ;
    }
    .item3{
        display:none}

    /*section4*/
    .qoute-joe {
        width: 600px;
       
    }
    blockquote span:after {
        content: "\201D";
        font-family: serif;
        position: absolute;
        font-size: 150px;
        right: -210px;
        bottom: -50px;
        line-height: 0;
    }

    /*section5*/

    .team__btn {
        width: 1000%;
    }
    .team__man {
        width: 50%;
    }
    .team__quote {
        width: 50%;
    }
    .arrow{
        display:none;
    }
    /*section6*/

    .team2__woman {
        width: 50%;
    }
    .team2__descr {
        width: 50%;
    }
    .team2__form {
        width: 100%;
    }
    .team2__btn-sb {
        margin-bottom: 80px;

    }
    /*section8*/
    .row3, .row4{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    

    /*section9*/

    .contact__inner {
    flex-wrap: wrap;
    }

    .contacts {
    width: 100%;
    }

    .messege {
    width: 100%;
    }

    /*footer*/

    .footer__top-inner {
        flex-wrap: wrap;
        width:600 px;
        margin:0 auto;
       
    }

   
    .menu__h1 li {
        padding: 40px 5px;
    }  

    .menu__h2 li {
        padding: 40px 10px;
    }  
}
