/*------ section4-------*/

/* просто позиционирование надо выровнять */

.quote{
    height: 350px;
}
.quote__inner {
    display: flex;
    justify-content: center;
    position: relative;
}
.qoute__text {
    position: absolute;
    z-index: 5;
    top: 150px;
}

.slider__item2 {
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.qoute-joe {
    font-size: 24px;
    font-style: italic;
    color: #f2efe5;
}

blockquote span {
    
    position: relative;
}
blockquote span:before {
    content: "\201C";
    font-family: serif;
    font-style: italic;
    position: absolute;
    font-size: 150px;
    left: -100px;
    top: 10px;
    line-height: 0;
}
blockquote span:after {
    content: "\201D";
    font-family: serif;
    position: absolute;
    font-size: 150px;
    right: -320px;
    bottom: -50px;
    line-height: 0;
}

.quote__signature{
    color: #f2efe5;
    text-transform: uppercase;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
}

.slider__quote{
    height: 350px;
}

.slider__item2 {
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

