.team2__inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.team2__woman {
    width: 33.333333%;
    position: relative;
}
.team2__kat {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: serif;
    padding-top:120px ;
    padding-bottom:50px ;
}

.team2__descr{
    width: 33.333333%;
    background-color: #ccc8b6;
}

.team2__form {
    width: 33.333333%;
    background-color: #f2efe5;
}

.team2__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    /*выравнивает по горизонтали*/
}

.team2__input {
    width: 300px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #f2efe5;
    border: 1px solid #1a1a1a;
    padding: 15px;
    outline: 0 ;
}

.team2__email-button {
    margin-top: 40px;
}

.team2__btn{
    margin-top: 22px;
}

.team2__btn-sb{
    background-color: #9a977a;
    width: 300px;
    padding: 17px;
    text-transform: uppercase;
    font-size: 12px;
    color: #edece8;
    outline: 0 ;
    transition: background 0.2s linear;
}
.team2__btn-sb:hover{
    background-color: #7c7a6a;
   
}
.team2__btn-sb:focus{
    background-color:#74715b;
    
}




.team2__highlight{
    text-transform: uppercase;
     width:300px; 
     padding-top: 150px;

}
.team2__join{
    text-transform: uppercase;
    font-size: 12px;
    width:300px; 

}

.team__kat__descr {
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
}