.about__subtitle {
    font-size: 18px;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 40px;
}

.about__text {
    font-size: 16px;
    width: 530px;
    text-align: left;
}

.about__inner {
    display: flex;
    flex-direction: row;
    background-color: #f2efe5;
}

.room {
    width: 50%;
    position: relative;
    
/* align by flex button thru parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.room1 {
    z-index: 1;
}

.about__btn {
    padding: 26px 50px;
    position: absolute;
    border: 10px solid #1a1a1a;
    z-index: 10;
    transition: background 0.2s linear;
}

.about__btn:hover{
    background-color:#f2efe5;
    opacity: 0.7;
}
.about__btn:focus{
    background-color:rgb(204, 200, 182);
    
}

/* align image */

.small-logo__img {
    padding-top: 90px;
    padding-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__left {
    margin: 0 auto;
}
