.contact__inner {
    background-color: #e7e5d0;
    display: flex;
}

.contacts {
    width: 50%;
}

.messege {
    width: 50%;
}

.info__works {
    display: flex;
}
.info__left {
    width: 50%;
    text-align: left;
    font-size: 16px;
}
.info__left__subt {
    font-weight: bold;
    padding-bottom: 50px;
}

.info__right {
    width: 50%;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 30px;
}

.info__right__subt {
    font-weight: bold;
    padding-bottom: 50px;
}
.messege {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_text {
    margin-top: 184px;
    text-align: center;
    padding-left: 80px;
}

.contact__btn {
    display: flex;
    justify-content: center;
    padding-top: 186px;
}

.btn_m {
    margin-top: 40px;
    margin-bottom: 150px;
    padding: 17px;
    background-color: #9a977a;
    color: #edece8;
    width: 370px;
    text-transform: uppercase;
    outline: 0;
    transition: background 0.2s linear;
}
.btn_m:hover{
    background-color: #7c7a6a;
   
}
.btn_m:focus{
    background-color:#74715b;
    
}

.form-text {
    margin-top: 60px;
    width: 470px;
    height: 220px;
    background-color: #e7e5d0;
    border: 2px solid #1a1a1a;
    text-transform: uppercase;
    font-size: 14px;
    padding: 25px;
    outline: 0;
}

.form-email {
    width: 470px;
    background-color: #e7e5d0;
    border: 2px solid #1a1a1a;
    font-size: 14px;
    text-transform: uppercase;
    color: #1a1a1a;
    padding: 25px;
    outline: 0;
}

.form-name {
    margin-top: 190px;
}

.form-em {
    margin-top: 60px;
}
.form-e {
    text-transform: uppercase;
    font-size: 12px;
    font-family: serif;
}

.contact__button {
    padding: 26px 25px;
    position: absolute;
    border: 10px solid #1a1a1a;
    z-index: 2;
    background-size: 300%;
    transition: all 0.6s;
}
.btnn {
    color: black;
    background-image: linear-gradient(60deg,#e7e5d0 50%, #cac8b5 50% );
}

.contact__button:hover {
    color: black;
    background-position: 100%;
}

.contact__button:active {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.contact__font {
    padding-bottom: 70px;
}

.info__left__descr span {
    font-weight: bold;
}
.info__right__descr span {
    font-weight: bold;
}
