.twitter {
    position: relative;
}

.twirter__inner {
    display: flex;
    justify-content: center;
}

.info {
    position: absolute;
    top: 100px;
}

.twitter {
    color: #ccc8b6;
    text-align: center;
}

.twitter__text{
    position: absolute;
    bottom: 100px;
}

.info a {
    color: #ccc8b6;
    text-decoration: none;
    display: inline-block;
}

.twiter__link:before {
    color: #ccc8b6;
    font-size: 48px;
    content: "\f099";
    font-family: 'icomoon'
}

.italic {
    font-style: italic;
}
